{% extends 'base.html.twig' %}

{% block title %}Bienvenue sur le meilleur reseau d'appartements{% endblock %}

{% block body %}
<div class="container">
    <div class="jumbotron mt-3">
        <h1 class="display-3">Bienvenue sur SymBNB !</h1>
        <p class="lead">Nous mettons en relation les voyageurs et les propriétaires qui veulent profiter d'opportunités et gagner de l'argent en proposant leur bien à la location.</p>
        <hr class="my-4">
        <p>Vous êtes voyageur ? Et vous voulez voir où vous pourrez loger pour votre prochain déplacement ?</p>
        <p class="lead">
            <a class="btn btn-primary btn-lg" href="#" role="button">Voir nos annonces</a>
        </p>
    </div>

    <h2 class="h1 mt-3 mb-4">Nos appartements stars !</h2>
    <div class="row">
        <div class="col-md-4">
            <div class="card bg-light mb-3">
                <div class="card-header text-center">
                    3 chambres, <strong>49&euro; / nuit</strong> <br>
                    <small>Pas encore noté</small>
                </div>
                <img src="http://placehold.it/1000x400" alt="Image de l'appartement" style="height: 200px; width: 100%; display: block">
                <div class="card-body">
                    <h4 class="card-title">
                        Appartement de ouf !
                    </h4>
                    <p class="text">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ut egestas iaculis purus vitae scelerisque. Orci varius natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Donec sed magna non lacus mollis commodo sit amet id nisi. Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Etiam a risus eget dui sagittis facilisis id et dui. Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Suspendisse blandit, nisi ac bibendum porttitor, diam magna vestibulum lacus, id egestas velit ligula non eros.</p>
                    <a href="#" class="btn btn-secondary">En savoir plus !<a/>
                </div>
            </div>
        </div>
        <div class="col-md-4">
            <div class="card bg-light mb-3">
                <div class="card-header text-center">
                    3 chambres, <strong>49&euro; / nuit</strong> <br>
                    <small>Pas encore noté</small>
                </div>
                <img src="http://placehold.it/1000x400" alt="Image de l'appartement" style="height: 200px; width: 100%; display: block">
                <div class="card-body">
                    <h4 class="card-title">
                        Appartement de ouf !
                    </h4>
                    <p class="text">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ut egestas iaculis purus vitae scelerisque. Orci varius natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Donec sed magna non lacus mollis commodo sit amet id nisi. Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Etiam a risus eget dui sagittis facilisis id et dui. Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Suspendisse blandit, nisi ac bibendum porttitor, diam magna vestibulum lacus, id egestas velit ligula non eros.</p>
                    <a href="#" class="btn btn-secondary">En savoir plus !<a/>
                </div>
            </div>
        </div>
        <div class="col-md-4">
            <div class="card bg-light mb-3">
                <div class="card-header text-center">
                    3 chambres, <strong>49&euro; / nuit</strong> <br>
                    <small>Pas encore noté</small>
                </div>
                <img src="http://placehold.it/1000x400" alt="Image de l'appartement" style="height: 200px; width: 100%; display: block">
                <div class="card-body">
                    <h4 class="card-title">
                        Appartement de ouf !
                    </h4>
                    <p class="text">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ut egestas iaculis purus vitae scelerisque. Orci varius natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Donec sed magna non lacus mollis commodo sit amet id nisi. Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Etiam a risus eget dui sagittis facilisis id et dui. Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Suspendisse blandit, nisi ac bibendum porttitor, diam magna vestibulum lacus, id egestas velit ligula non eros.</p>
                    <a href="#" class="btn btn-secondary">En savoir plus !<a/>
                </div>
            </div>
        </div>
    </div>

    <h2 class="h1 mt-3 mb-4">Nos propriétaires !</h2>
    <div class="row">
        <div class="col">
            <div class="card border-secondary mb-3">
                <div class="card-body">
                    <h4 class="card-title">Lior Chamla</h4>
                    <hr>
                    <div class="card-text">
                        <img src="http://placehold.it/64x64" alt="Avatar de Lior Chamla" class="float-left mr-3">
                        <p>Integer finibus enim in ultrices tempor. Nam eget enim lacinia dolor ullamcorper ornare vel a lacus. Etiam interdum odio in urna eleifend, iaculis porttitor risus aliquet.</p>
                        <a href="#" class="btn btn-secondary">En savoir plus !<a/>
                    </div>
                </div>
            </div>
        </div>
        <div class="col">
            <div class="card border-secondary mb-3">
                <div class="card-body">
                    <h4 class="card-title">Lior Chamla</h4>
                    <hr>
                    <div class="card-text">
                        <img src="http://placehold.it/64x64" alt="Avatar de Lior Chamla" class="float-left mr-3">
                        <p>Integer finibus enim in ultrices tempor. Nam eget enim lacinia dolor ullamcorper ornare vel a lacus. Etiam interdum odio in urna eleifend, iaculis porttitor risus aliquet.</p>
                        <a href="#" class="btn btn-secondary">En savoir plus !<a/>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}